.UpperPostDiv {
    padding: 1em;
    margin: 2em;
}

.PostContainer {
    background-color: #384254;
    padding: 1rem;
}

.TagContainer {
    padding: 0rem 2rem 0rem 2rem;
    display: inline-block;
    background-color: rgb(25, 44, 78);
    margin-left: 2rem;
    width: auto;
}