@import 'Variables';

.content-container {
    background-color: $upper-data-container-color;
    -webkit-box-shadow: 0px 0px 8px 3px rgb(17, 17, 22);
    -moz-box-shadow: 0px 0px 8px 3px rgb(17, 17, 22);
    box-shadow: 0px 0px 8px 3px rgb(17, 17, 22);
    //border: solid 2px rgb(60, 55, 105);
    border-radius: 0.6rem;
    //overflow: hidden;
    padding: 0.6rem;
    margin-bottom: 0.6rem;

}

.content-wrapper {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    .likes-count {
        color: green;
        font-weight: bold;
    }

    .user-nick {
        color: red;
    }

    .hr-line {
        border-top: 4px solid rgb(32, 28, 63);
        opacity: 1;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 1rem;
        -webkit-box-shadow: 0 0 4px 0 rgb(36, 34, 34);
        -moz-box-shadow: 0 0 4px 0 rgb(36, 34, 34);
        box-shadow: 0 0 4px 0 rgb(36, 34, 34);
    }

    .lower-tag-container {
        color:rgb(161, 195, 247);
        padding-top: 0.2rem;
        
        span {
            padding-right: 0.2rem;
        }
    }

    .widget-box {
        padding-top: 0.5rem;
        display: flex;
        gap: 10px;

        .action-button {
            min-width: 60px;
            height: 30px;
            padding: 0.2rem;
        }

        .input-action-button {
            line-height: 0rem;
            height: 30px;
            border-color:rgb(90, 90, 165);
        }
    }

    .comment-data-container {
        @extend .content-container;
        margin: 1rem;    
    }

    .comments-vertical-line {
        background-color: $upper-data-container-color;
        width: 5px;
        margin-top: 0.5rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }
     
    .comment-input-wrapper {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .content-input {
        color: white;    
        background-color: $upper-data-container-color;
        border: 2px solid rgb(28, 26, 34);
        resize: none;
    }       
}

.profile-data-container {
    display: flex;
}

.flex-profile {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    //background-color: red;
}

.flex-column {
    display: flex;
    gap: 2rem;
}

.flex-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}

