@import 'Variables';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@300&family=Ubuntu&display=swap');

body {
    background-color: #0f0f11;
    //font-family: 'Roboto', sans-serif;
}

html {
    overflow-y: scroll;
}

.main-container {
    margin-top: 3rem;
    color: white;
}

.modal-open {
    padding-right: 0 !important;
    //overflow: auto !important;
}

.custom-modal-content {
    color: white;
}

.main-panel {
    background-color: $column-container-color;
    -webkit-box-shadow: 6px 5px 7px 5px black;
    -moz-box-shadow: 6px 5px 7px 5px black;
    box-shadow: 6px 5px 10px 1px black;
    border-radius: 0.8rem;
    border: 1px solid rgb(8, 8, 8);

    padding: 1rem 2rem 1rem; 
    margin-bottom: 2rem;  
}

.info-block {
    border-radius: 2rem;
    padding: 0.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.error-loading {
    @extend .info-block;
    background: rgb(192, 69, 69);
    color: black;
}

.loading-block {
    @extend .info-block;
    background: rgb(25, 135, 84);
    box-shadow: 0 0 0 0 rgba(25, 110, 84, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(25, 110, 84, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(25, 110, 84, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.lds-dual-ring {
    display: inline-block;
}

.lds-dual-ring:after {
    content: " ";
    display: block;

    width: 20px;
    height: 20px;


    border-radius: 50%;
    border: 4px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

