@import 'Variables';

.profile-img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    //border: 5px solid rgb(114, 43, 43);
    padding: 4px;
    border-radius: 50%;
}

.profile-data {

}