$primary: rgb(122, 24, 24);
$shadow-color: black;

$column-container-color: #0f1727;

// data container colors
$upper-data-container-color: #202D45;
$comment-data-container-color: #2f3f5c;

$lower-tag-container-color: rgb(37, 68, 104);
$post-blur-color: #2A4361;