@import 'Variables';

.content-container {
    background-color: $upper-data-container-color;
    -webkit-box-shadow: 0px 0px 8px 3px rgb(17, 17, 22);
    -moz-box-shadow: 0px 0px 8px 3px rgb(17, 17, 22);
    box-shadow: 0px 0px 8px 3px rgb(17, 17, 22);
    //border: solid 2px rgb(60, 55, 105);
    border-radius: 0.6rem;
    //overflow: hidden;
    padding: 0.6rem;
    margin-bottom: 0.8rem;
}

.content-container-highlight {
    border: 2px solid rgb(134, 28, 28);
    background-color: $upper-data-container-color-highlight;
}

.hr-line {
    border-top: 4px solid rgb(32, 28, 63);
    opacity: 1;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0 4px 0 rgb(36, 34, 34);
    -moz-box-shadow: 0 0 4px 0 rgb(36, 34, 34);
    box-shadow: 0 0 4px 0 rgb(36, 34, 34);
}

.lower-tag-container {
    color:rgb(161, 195, 247);
    padding-top: 0.2rem;
    
    span {
        padding-right: 0.2rem;
    }
}

.content-wrapper {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    .widget-box {
        //padding-top: 0.2rem;
        margin-left: 8px;
        display: flex;
        gap: 10px;

        .action-button {
            min-width: 60px;
            height: 30px;
            padding: 0.2rem;
        }

        .input-action-button {
            line-height: 0rem;
            height: 30px;
            border-color:rgb(90, 90, 165);
        }
    }
     
    .comment-input-wrapper {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .content-input {
        color: white;    
        background-color: $upper-data-container-color;
        border: 2px solid rgb(28, 26, 34);
        resize: none;
    }
    
    p {
        margin-bottom: 0;
    }

}

.comment-data-container {
    @extend .content-container;
    margin: 1rem;    
}

.comments-vertical-line {
    background-color: $upper-data-container-color;
    width: 5px;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.flex-profile {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    //background-color: red;
}

.flex-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.widget-button {
    all: unset;
    //background-color: rgb(206, 159, 159);
    //border: solid 1px rgb(63, 150, 179);
    color: rgb(78, 147, 170);
    font-size: 0.9rem;
    font-weight: 400;
    height: 25px;

    padding: 0rem 0.6rem;
    //border-radius: 0.4rem;
    //background-color: transparent;
    text-align: center;
}

.widget-button:hover {
    //background-color: rgb(4, 79, 104);
    background-color: transparent;
    color: white;
}

.widget-button-comment {
    @extend .widget-button;
    border: none;
    position: relative;
    top: -15px;
}

.widget-button-comment:hover {
    color: white;
    background-color: transparent;
}



.content-container-hover:hover {
    background-color: $upper-data-container-color-hover;
}

.profile-data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 230px;
}

.tabs-style {
    button {
        color: white;
        background-color: red;
    }
    // --bs-nav-tabs-border-color: red !important;
    --bs-nav-tabs-link-active-border-color: transparent;

    .active {
        color: white !important;
        background-color: $secondary-color !important;
        border-color: red;
    }

    .nav-tabs {
       border-bottom: 5px !important;
    }

    .nav-tabs .nav-link{
        margin-bottom: 0px !important;
     }
   
}

.follow-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem 2rem;
}
