@import 'Variables';

.profile-img {
    width: $avatar-size;
    height: $avatar-size;
    overflow: hidden;
    //border: 5px solid rgb(114, 43, 43);
    border-radius: 1rem;
    box-shadow: 0 0 8px 0 rgb(0, 0, 0);
}

.profile-img-mini {
    @extend .profile-img;
    width: 36px;
    height: 36px;
    border-radius: 0.3rem;
    margin-top: 2px;
}

.profile-img-max {
    @extend .profile-img;
    width: 60px;
    height: 60px;
    border-radius: 0.3rem;
    margin-top: 2px;
}

.profile-button {
    background-color: transparent;
    border: none;
    position: relative;
    bottom: 0px;
    padding-left: 4px;
}

.profile-button-nick {
    padding-left: 0.5rem;
    font-size: 1.17rem;
    padding: 0 0.1rem;
    // position: relative; 
    // bottom: 0px;
}
