/* Example Styles for React Tags*/
.app {
    padding: 40px;
    text-align: center;
  }
  
  /* Example Styles for React Tags*/
  
  /* .container {
    margin: auto;
    width: 50%;
  } */

  .ReactTags__tags {
    position: relative;
  }

  .ReactTags__clearAll {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    background: #f88d8d;
    color: #fff;
    border: none;
  }
  
  /* Styles for the input */
  .ReactTags__tagInput {
    border-radius: 2px;
    display: inline-block;
  }
  .ReactTags__tagInput input.ReactTags__tagInputField,
  .ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    border: 2px solid rgb(0, 153, 255);
    min-width: 150px;
    outline: none;
    border-radius: 4px;
    padding-left: 8px;
    background-color: transparent;
    color: white;
  }
  
  .ReactTags__editInput {
    border-radius: 1px;
  }
  
  .ReactTags__editTagInput {
    display: inline-flex;
  }
  
  /* Styles for selected tags */
  .ReactTags__selected span.ReactTags__tag {
    /* border: 1px solid rgb(201, 19, 19); */
    background: #007bff;
    color: white;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 3px 5px;
    border-radius: 4px;
    -webkit-box-shadow: -1px 3px 20px 1px rgba(2, 2, 2, 1);
    -moz-box-shadow: -1px 3px 20px 1px rgba(2, 2, 2, 1);
    box-shadow: -1px 3px 20px 1px rgba(2, 2, 2, 1);
  }
  .ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
  }
  
  /* Styles for suggestions */
  .ReactTags__suggestions {
    position: absolute;
  }

  .ReactTags__suggestions ul {
    font-size: 12px;
    list-style-type: none;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: #343a40;
    width: 200px;
    color: rgb(223, 210, 210);
    border-radius: 8px;
    margin-top: 5px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ReactTags__suggestions li {
    /* border-bottom: 1px solid #ddd; */
    padding: 5px 10px;
    margin: 0;
  }
  .ReactTags__suggestions li mark {
    text-decoration: underline;
    color:rgb(223, 210, 210);
    background: none;
    font-weight: 600;
  }
  .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #007bff;
    cursor: pointer;
  }
  
  .ReactTags__remove {
    border: none;
    cursor: pointer;
    background: none;
    color: white;
  }