$primary: rgb(122, 24, 24);
$shadow-color: black;

$column-container-color: #131b2b;

// data container colors
$upper-data-container-color: #202D45;
$upper-data-container-color-hover: #3d5177;

$comment-data-container-color: #2f3f5c;

$lower-tag-container-color: rgb(37, 68, 104);
$post-blur-color: #2A4361;

$secondary-color: #202D45;